.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: hsla(31, 90%, 76%, 1);
  background:linear-gradient(
    100deg,rgb(8, 165, 182)0%,rgb(121, 215, 151)100%
  );
}
h1
{
  font-size: 8rem;
  font-weight: lighter;
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times, serif;
}

h2 {
  margin: 30px;
  font-family: 'Cinzel',Serif;
  font-size: 5rem;
  
}

p {
  font-size: 2rem;
  color:white;
  font-family: "Montserrat"
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;

}
